<ion-view view-title="Create new list">
    <ion-content class="background padding">
    <div class="list">
        <label class="item item-input item-stacked-label">
            <input type="text" placeholder="Title" ng-model="data.title">
        </label>
        <label class="item item-input item-stacked-label">
            <input type="text" placeholder="Detail" ng-model="data.details" >
        </label>
    </div>
 
        
    
    <button class="button button-block button-assertive" ng-click="addTask()">
      Add Task
        </button>
    </ion-content>
</ion-view>
