<!-- Ref http://ionicframework.com/docs/components/ 
http://ionicons.com/
-->
<ion-view view-title="To-Do list">
    <ion-content class="background padding">
        
        <ion-list class="background">
            
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="item in items" type="item-text-wrap" ng-click="show">
            
            <div class="item item-divider" style="background-color: grey">{{item.title}}</div>
            <div class="item item-text-wrap">
            {{item.details}}
            </div>
            <div class="item item-divider" style="background-color: grey">
            {{item.added|date:"dd.MM.yy"}}
            </div>
            
                <ion-option-button class="button-assertive" ng-click="remove(item)">
            Delete
            </ion-option-button>
            </ion-item>
                 
        </ion-list>
           
    </ion-content>
</ion-view>