<ion-view view-title="Create new list">
    <ion-content class="padding">
    <div class="list">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Task Title</span>
            <input type="text" placeholder="..." ng-model="item.data.title">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Task Detail</span>
            <input type="text" placeholder="..." ng-model="item.data.details">
        </label>
    </div>
    <button class="button button-block button-assertive" ng-click="addTask(item)">
      Add Task
    </button>
    </ion-content>
</ion-view>
